{
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "modules": true,
            "impliedStrict": true,
            "jsx": true,
            "browser": true,
            "experimentalObjectRestSpread": true
        }
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true,
        "commonjs": true
    },
    "plugins": [
        "react"
    ],
    "extends": "eslint:recommended",
    "rules": {
        "indent": [
            "error",
            4
        ],
        "no-console": [
            "error",
            {
                "allow": [
                    "warn",
                    "error",
                    "log"
                ]
            }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ]
    }
}