see online example
nav {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  height: 50px;
  padding: 1rem;
  text-align: center;
  outline: 1px solid red;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  padding: 1rem;
  text-align: center;
  outline: 1px solid red;
  margin-top: 30px;
}

.square {
    max-width: 100;
    background-color: mistyrose; 
}

.title {
    text-align: center;
}

.container {
	margin-top: 10px;
}
 
.navbar-item {
	display: inline;
	margin: 0 20px 0 0;
	margin-bottom: 130px;
    text-decoration: none;
}

.navbar-item a {
    text-decoration: none;
    color: black;
}