#root {
    position: relative;
    min-height: 100vh;
}

.app {
    padding-bottom: 80px;
}

nav {
  height: 50px;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

.title {
    text-align: center;
}

.container {
	margin-top: 10px;
}
 
.navbar-item {
	display: inline;
	margin: 0 20px 0 0;
	margin-bottom: 130px;
    text-decoration: none;
}

.navbar-item a {
    text-decoration: none;
    color: black;
}

footer {
  position: absolute;
  right: 0; 
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  padding: 1rem;
  text-align: center;
  outline: 1px solid red;
}

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {

}
/* Larger than desktop */
@media (min-width: 1000px) {

}
/* Larger than Desktop HD */
@media (min-width: 1200px) {}